@import url('https://fonts.googleapis.com/css2?family=Anton&family=Asap&family=Black+Han+Sans&family=Faster+One&family=Inter&family=Lexend+Deca:wght@600&family=Manrope&family=Nosifer&family=Orienta&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,900&family=Russo+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

body{
    text-align: center;
    background-color: #9582f4;
}

.genel{
    max-width: 1400px;
    margin: 40px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.img{
    margin: 10px;
    border-radius: 5px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

button{
    position: fixed;
    top: 0;
    right: 45%;
    margin-top: 20px;
    padding: 7px 15px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #fff;
    font-size: 20px;
    border: none;
    font-weight: bold;
}

button:hover{
    background-color: #b99996;
    color: #fff;
}

@media only screen and (max-width: 900px){
    html,body{
        overflow-x: hidden;
    }

    .img{
        width: 150px;
    }
    
    #btn{
        right: 30%;
    }
}